@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/notched-outline/mdc-notched-outline";


.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.shrine-logo-drawer {
  display: block;
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  @include mdc-typography(headline6);
  text-align: center;
  margin: 5px auto;
}

.product-list {
  overflow: auto;
  padding: 80px 100px 0;
}

.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(primary);
  // Drawer defaults to a higher z-index, but we aren't overlaying it over anything
  @include mdc-drawer-z-index(0);

  text-transform: uppercase;

  .mdc-list {
    margin: 30px 5px auto 5px;
  }

  .mdc-list-item {
    border-radius: 6px;
    justify-content: center;
  }

  // This needs 3-class specificity to override MDC Drawer styles
  .mdc-list .mdc-list-item {
    @include mdc-states-activated(#fff);
  }
}


.shrine-select-item-divider {
  display: block;
  border-bottom-color: #EAA4A4;
  border-bottom-width: 2px;
  width: 50px;
  position: relative;
  top: -8px;
}

// This needs 2-class specificity to override MDC Drawer styles
.shrine-drawer .shrine-select-item-divider {
  margin: 0 auto;
}

.shrine-body {
  @include mdc-elevation(4);

  display: block;
  overflow: auto;
  z-index: 0; // Elevate over the drawer
  width: 100%;
}

.uic-logo {
  padding-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mdc-list {
  margin: 20px 80px 20px 80px;
}

.search-header {
  background-color: #E8E8E8;
  height: 28%;
}

.shrine-body-home {
  background: #f06d06;
  font-size: 80%;
  padding: 20px;
  width: 100%;
}

.shrine-body-home .search-header-home {
  position: relative;
  background-color: #E8E8E8;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  resize: both;
  overflow: auto;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
  border-color: #EAA4A4  
}

.button-container {
  width: 75%;
  padding-top: 5%;
}

.center-horizontal-vertical {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mdc-button--raised:not(:disabled) {
  color: white;
  background-color: black;
}

.mdc-list-item__secondary-text {
  font-size: 0.775rem;
}

a {
  color: #aaa900;
  font-weight: 700;
  text-decoration: none;
}

.spell-check {
  color: #FF0000;
  background-color: #F2F2F2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.incorrect-query {
  color: #000000;
}

.spell-check .mdc-button {
  text-transform: none;
  font-family: inherit;
}

.pagination {
  display: inline-block;
}

.more-pages {
  text-align: center;
  padding: 20px 0px 80px 0px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #EAA4A4;
  color: white;
  border: 1px solid #EAA4A4;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.center-horizontal-vertical-home {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

